body {
    font-family: 'Roboto', sans-serif;
    background-color: #bc50c3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ecf0f1;
  }
  
  .container {
    text-align: center;
    background-color: #ba1541;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  
  h1 {
    color: #030303;
    margin-bottom: 20px;
  }
  
  input, button {
    font-size: 16px;
    margin: 8px;
    padding: 10px;
    width: 60px;
    border: none;
    border-radius: 5px;
  }
  
  input {
    background-color: #ecf0f1;
    color: #0c0c0c;
  }
  
  button {
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #timer {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
  }

  
@media screen and (max-width: 600px) {
    .container {
      padding: 20px;
      margin:10px;
    }
  
    input, button {
      width: 75%;
    }
  }
  